{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Productos en la categoría: {{ categoria.nombre }}</h2>
  <div class="row">
    {% for producto in productos %}
      <div class="col-md-4">
        <div class="card mb-4">
          {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
          {% else %}
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sin imagen">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
          </div>
          <div class="card-footer text-center">
            {% if not user.is_staff %}
            <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-primary">Agregar al carrito</a>
            {% else %}
            <small class="text-muted">Eres administrador</small>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hay productos en esta categoría.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
